@media screen and (max-width: 460px) {
  @keyframes animationBurger {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .burger {
    z-index: 50;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: 17px;
    height: 13px;
  }
  .burger_span {
    display: block;
    height: 2px;
    width: 80%;
    background: #000;
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    bottom: 0;
    transition: all 0.3s ease 0s;
  }
  .burger_active {
    z-index: 51;
  }
  .burger_active span {
    transform: scale(0);
  }
  .burger_active::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .burger_active::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .header {
    background-color: #fff;
  }
  .header__wrapper {
    padding: 15px;
  }
  .header__body {
    display: none;
  }
  .header__body_active {
    display: inline;
  }
  .nav {
    display: none;
    font-size: 7px;
    gap: 3px;
  }
  .nav__link:hover {
    opacity: 0.6;
    color: #000;
  }
  .nav_open {
    color: #000;
    font-weight: 600;
    z-index: 50;
    gap: 25px;
    font-size: 20px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    background-color: #91C800;
    animation: animationBurger 0.4s;
  }
  .nav_open a {
    color: #000;
  }
  .main {
    margin: 0;
  }
  .main::after {
    display: none;
  }
  .main__body {
    background-color: #3F3F3F;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 30px;
  }
  .main__logo {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
  }
  .main__content {
    display: flex;
    justify-content: center;
    align-items: top;
  }
  .main__title {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .main__phone a {
    font-size: 20px;
  }
  .main__phone a.phone__tel {
    color: #fff;
  }
  .main__img {
    display: none;
  }
  .service__row {
    margin-top: 15px;
    gap: 10px;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .service__item {
    padding: 14px;
  }
  .service__img {
    max-width: 130px;
    margin-bottom: 10px;
  }
  .service__text {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .service__price {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .service__button {
    font-size: 14px;
    padding: 10px 20px;
  }
  .area__title {
    margin-top: 30px;
  }
  .area__subtitle {
    font-size: 12px;
    font-weight: 500;
    margin: 15px 0;
    text-align: center;
  }
  .area__content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .area__pair_top {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .area__pair_bottom {
    margin-bottom: 15px;
  }
  .reviews__content {
    padding: 0;
    gap: 10px;
  }
  .footer__phone {
    font-size: 11px;
  }
}